.main-heading {
    color: red;
    font-family: "monoton";
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
    box-sizing: border-box ;
    line-height: 20px;
  }
  
  .paragraph {
    color: black;
    font-family: "playfair display";
    font-size: 28px;
    font-style: normal;
    font-variant: small-caps;
    text-align: center;
    font-weight: normal;
  }
  .paragraph1 {
    color: skyblue;
    font-size: 28px;
    font-variant: small-caps;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
  }
  .paragraph2 {
    color: greenyellow;
    font-size: 48px;
    font-family: "roboto";
    font-variant: small-caps;
    font-weight: bold;
    font-style:italic;
    text-align: center;
  }