.minWidth{
    text-align: center;
    color: red;
}
.dummy-text1{
    min-width: 700px;
    background-color: bisque;
    padding: 10px;
}
.minHeight{
    text-align: center;
    color: rgb(17, 0, 255);
}
.dummy-text2{
    min-height: 300px;
    background-color: rgb(255, 243, 228);
    padding: 10px;
}
.maxWidth{
    text-align: center;
    color: deeppink;
}
.dummy-text3{
    max-width: 1100px;
    background-color: rgb(221, 255, 170);
    padding: 10px;
}
.maxHeight{
    text-align: center;
    color: purple;
}
.dummy-text4{
    max-height: 200px;
    background-color: rgb(146, 147, 146);
    padding: 10px;
}
.MinWidthMinHeight{
    text-align: center;
    color: chocolate;
}
.dummy-text5{
    min-width: 500px;
    min-height: 200px;
    background-color: rgb(41, 240, 154);
    padding: 10px;
}
.MaxWidthMaxHeight{
    text-align: center;
    color: firebrick;
}
.dummy-text6{
    max-width: 900px;
    max-height: 250px;
    background-color: rgb(41, 240, 220);
    padding: 10px;
}
.combined{
    text-align: center;
    color: rebeccapurple;
}
.dummy-text7{
    min-width: 500px;
    min-height: 200px;
    max-width: 1000px;
    max-height: 600px;
    background-color: rgb(209, 156, 83);
    padding: 10px;
}
.overflow{
    text-align: center;
    color: darkslategrey;
}
.dummy-text8{
    min-width: 500px;
    min-height: 200px;
    max-width: 1000px;
    max-height: 600px;
    overflow: auto;
    margin-left: 200px;
    border: 3px dashed black;
    background-color: rgb(196, 145, 235);
    padding: 10px;
}